<!-- <div class="d-flex justify-content-center">
<button class="btn btn-danger w-25 " (click)="toggleClick()">click me</button> -->

<!--<div [hidden]="isDisplay"> or -->
<!-- <div *ngIf="isDisplay"> 
    <ul>
        <li>
            rose
        </li>
        <li>
            lotus
        </li>
        <li>
            lilly
        </li>

    </ul>
</div>

</div> -->

<div class="container-fluid bg-dark">
  <button class="btn btn-danger">click</button>
  <p class="text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore
    deleniti quod. Ex illo, ut nobis voluptas qui, enim repellendus
    necessitatibus quidem rem repellat accusantium fugit tempore dolore
    temporibus deserunt?
  </p>
</div>
