<div class="header">
    <div>
      <h1>JOSHI</h1>
    </div>
    <div class="nav">
      <a href="index.html">Home</a>

      <a href="about.html"> About</a>

      <a href="resume.html"> Resume</a>

      <a href="services.html"> Services</a>

      <a href="Portfolio.html">Portfolio</a>

      <a href="contact.html"> Contact</a>
    </div>
    <div class="font">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-pinterest-p"></i>
    </div>
  </div>
